.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.answer-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.answer-item > div {
  margin-right: 10px;
}

.answer-item > .answer-index {
  width: 30px;
  border-left: 1px solid #8e8e91;
  border-bottom: 1px solid #8e8e91;
  height: 27px;
  position: relative;
  top: 20px;
  margin-right: 10px;
  text-align: center;
  color: #8e8e91;
}

.answer-item .answer-description {
  width: 37%;
}

.answer-item .answer-correct {
  padding-top: 17px;
}

.button-answer-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.button-save-container {
  float: right;
  margin-top: 10px;
}

.answer-list {
  max-height: 245px;
  overflow: scroll;
}

.answer-item > .answer-delete {
  width: 30px;
  border-right: 1px solid #8e8e91;
  border-bottom: 1px solid #8e8e91;
  height: 27px;
  position: relative;
  top: 20px;
  margin-right: 10px;
  text-align: center;
  color: #8e8e91;
  cursor: pointer;
}

.form-container div[class^='container_'] {
  margin-top: 10px;
}

.promp-container {
  display: flex;
  justify-content: space-between;
  width: 244px;
}

.promp-container {
  color: #8e8e91;
  margin-top: 15px;
}

.loader {
  width: 100px !important;
  height: 100px !important;
  position: absolute;
  left: 50%;
  top: 46%;
}

.center {
  text-align: center;
}

.emoji-container {
  text-align: center;
}

.emoji-container svg {
  font-size: 133px;
}

.emoji-container svg.failure {
  color: red;
}

.emoji-container svg.success {
  color: green;
}
